{% extends "partials/base.html" %}

    {% block style %}
	<style id="castilo-inline-style">
		.featured-content {
			background-image: url(tmp/sample-header3.jpg);
		}

		.features .features-image {
			background-image: url(tmp/sample-features.jpg);
		}

		.scores {
			background-image: url(tmp/sample-scores.jpg);
		}

		.sales-box {
			background-image: url(tmp/sample-sales.jpg);
		}
	</style>
	{% endblock style %}

	{% block content %}
	<header id="featured" class="featured-content fade-background-60 padding-top-bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md">
					<h1 class="entry-title">About Us</h1>
				</div>
				<div class="col-12 col-md-auto">
					<p class="big opacity-80">You may be cool, but you’ll never be as cool as our office.</p>
				</div>
			</div>
		</div>
	</header>

	<main id="content" class="padding-top-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row justify-content-md-center">
						<div class="col-12 col-md-8 col-xl-7 text-center">
							<h3>With customised targetting, we deliver your work and brand to the most suitable audience.</h3>
						</div>
						<div class="col-12 col-md-10 col-lg-9 text-center">
							<p>With our top of the line execution & as an innovative team we take a broad way to deal with handling the important issues of developing brands and income in a digitally aware world. Best of the best no additional words, so please get in touch and we'll get back to you shortly!</p>
							<p class="no-margin-bottom">
								<a href="#" class="button button-color button-filled"><span class="zmdi zmdi-mail-send"></span> Get in touch</a> <a href="#" class="button"><span class="zmdi zmdi-audio"></span> Browse episodes</a>
							</p>
						</div>
					</div>

					<div class="features alignfull margin-top">
						<div class="container">
							<div class="row">
								<div class="image-container col-12 col-md-6">
									<div class="features-image"></div>
									<ul class="features-list">
										<li>
											<span class="feature-icon zmdi zmdi-trending-up"></span>
											<h5 class="feature-title">Backed by Detailed Analytics</h5>
											<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										</li>
										<li>
											<span class="feature-icon zmdi zmdi-edit"></span>
											<h5 class="feature-title">Tailor Made Exclusive Tools</h5>
											<p>Ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ea consequat.</p>
										</li>
										<li>
											<span class="feature-icon zmdi zmdi-graduation-cap"></span>
											<h5 class="feature-title">The Best Brains in the Industry</h5>
											<p>Enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="scores alignfull margin-bottom padding-top-bottom">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-12 col-sm-6 col-md-4 col-lg-2">
									<p><strong>2</strong> Seasons</p>
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-2">
									<p><strong>27</strong> Episodes</p>
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-2">
									<p><strong>14</strong> Contributors</p>
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-2">
									<p><strong>592</strong> Clients</p>
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-2">
									<p><strong>68k+</strong> Listeners</p>
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-2">
									<p><strong>23k+</strong> Downloads</p>
								</div>
							</div>
						</div>
					</div>

					<h3 class="add-separator"><span>Our <em>Team</em></span></h3>
					<div class="team">
						<div class="row">
							<div class="col-12 col-md-6">
								<article class="entry entry-team-member">
									<div class="row align-items-lg-center">
										<div class="col-12 col-lg-6">
											<div class="entry-media entry-image multiply-effect">
												<a href="#">
													<img class="first" src="tmp/sample-team1.jpg" width="550" height="550" alt="">
													<span class="second"><img src="tmp/sample-team1.jpg" width="550" height="550" alt=""></span>
													<span class="third"><img src="tmp/sample-team1.jpg" width="550" height="550" alt=""></span>
												</a>
											</div>
										</div>
										<div class="col-12 col-lg-6">
											<header class="entry-header">
												<h3 class="entry-title">Francisco Castilo</h3>
												<div class="entry-meta">
													<span>Owner</span> <span>Main Host</span>
												</div>
											</header>
											<div class="entry-content">
												<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip modo.</p>
												<p class="social-navigation">
													<a title="Facebook Profile" target="_blank" href="../../facebook.com/default.htm"><span class="screen-reader-text">Facebook</span></a>
													<a title="YouTube Channel" target="_blank" href="../../youtube.com/default.htm"><span class="screen-reader-text">YouTube</span></a>
													<a title="SoundCloud" target="_blank" href="../../soundcloud.com/podcast"><span class="screen-reader-text">SoundCloud</span></a>
												</p>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="col-12 col-md-6">
								<article class="entry entry-team-member">
									<div class="row align-items-lg-center">
										<div class="col-12 col-lg-6">
											<div class="entry-media entry-image multiply-effect">
												<a href="#">
													<img class="first" src="tmp/sample-team2.jpg" width="550" height="550" alt="">
													<span class="second"><img src="tmp/sample-team2.jpg" width="550" height="550" alt=""></span>
													<span class="third"><img src="tmp/sample-team2.jpg" width="550" height="550" alt=""></span>
												</a>
											</div>
										</div>
										<div class="col-12 col-lg-6">
											<header class="entry-header">
												<h3 class="entry-title">Dagger Sancesi</h3>
												<div class="entry-meta">
													<span>Creator</span> <span>Main Host</span>
												</div>
											</header>
											<div class="entry-content">
												<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip modo.</p>
												<p class="social-navigation">
													<a title="Google Plus" target="_blank" href="../../plus.google.com/default.htm"><span class="screen-reader-text">Google Plus</span></a>
													<a title="Twitter Profile" target="_blank" href="../../twitter.com/default.htm"><span class="screen-reader-text">Twitter</span></a>
													<a title="YouTube Channel" target="_blank" href="../../youtube.com/default.htm"><span class="screen-reader-text">YouTube</span></a>
												</p>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="col-12 col-md-6">
								<article class="entry entry-team-member">
									<div class="row align-items-lg-center">
										<div class="col-12 col-lg-6">
											<div class="entry-media entry-image multiply-effect">
												<a href="#">
													<img class="first" src="tmp/sample-team3.jpg" width="550" height="550" alt="">
													<span class="second"><img src="tmp/sample-team3.jpg" width="550" height="550" alt=""></span>
													<span class="third"><img src="tmp/sample-team3.jpg" width="550" height="550" alt=""></span>
												</a>
											</div>
										</div>
										<div class="col-12 col-lg-6">
											<header class="entry-header">
												<h3 class="entry-title">Pillar L. Sandra</h3>
												<div class="entry-meta">
													<span>Contributor</span> <span>Interviewer</span>
												</div>
											</header>
											<div class="entry-content">
												<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip modo.</p>
												<p class="social-navigation">
													<a title="Google Plus" target="_blank" href="../../plus.google.com/default.htm"><span class="screen-reader-text">Google Plus</span></a>
													<a title="Twitter Profile" target="_blank" href="../../twitter.com/default.htm"><span class="screen-reader-text">Twitter</span></a>
													<a title="YouTube Channel" target="_blank" href="../../youtube.com/default.htm"><span class="screen-reader-text">YouTube</span></a>
												</p>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="col-12 col-md-6">
								<article class="entry entry-team-member">
									<div class="row align-items-lg-center">
										<div class="col-12 col-lg-6">
											<div class="entry-media entry-image multiply-effect">
												<a href="#">
													<img class="first" src="tmp/sample-team4.jpg" width="550" height="550" alt="">
													<span class="second"><img src="tmp/sample-team4.jpg" width="550" height="550" alt=""></span>
													<span class="third"><img src="tmp/sample-team4.jpg" width="550" height="550" alt=""></span>
												</a>
											</div>
										</div>
										<div class="col-12 col-lg-6">
											<header class="entry-header">
												<h3 class="entry-title">Berwin Coroza</h3>
												<div class="entry-meta">
													<span>Assistent</span> <span>Intern</span>
												</div>
											</header>
											<div class="entry-content">
												<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip modo.</p>
												<p class="social-navigation">
													<a title="Facebook Profile" target="_blank" href="../../facebook.com/default.htm"><span class="screen-reader-text">Facebook</span></a>
													<a title="YouTube Channel" target="_blank" href="../../youtube.com/default.htm"><span class="screen-reader-text">YouTube</span></a>
													<a title="SoundCloud" target="_blank" href="../../soundcloud.com/podcast"><span class="screen-reader-text">SoundCloud</span></a>
												</p>
											</div>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	{% endblock content %}